[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "experDesign"]
	path = experDesign
	url = https://github.com/llrs/experdesign
[submodule "repo.data"]
	path = repo.data
	url = https://github.com/llrs/repo.data
